.showcase {
    background: #5a6268 url('https://images.pexels.com/photos/1194713/pexels-photo-1194713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    height: 100vh;
}

.showcase-content {
    height: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}

